@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body{
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
}

.offset:before{
    height: 3.8rem;
    margin-top: -3.8rem;
    content: "";
    display: block;
  }

/*--- Navbar ---*/

.navbar{
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background-color: rgba(38, 33, 45, .6)!important;
}

.navbar-brand img {
  height: 2.25rem;
  padding-left: 1.5rem
}

.navbar-nav li{
  padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #c68e3b;
}

/*--- Slider ---*/
.carousel-item{
  height: 100vh;
}

.carousel-caption{
  position: absolute;
  top: 38%;
  right: 0;
  left: 0;
  text-transform: uppercase;
  width: 100%
}

.carousel-caption h1{
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}

.carousel-caption h3{
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  font-size: 1.1rem;
}

.carousel-control-prev, .carousel-control-next{
  z-index: 10;
}

/*============= COURSE SECTION =============*/

.narrow {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.btn-md {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.1rem;
  text-transform: uppercase;
  margin: 1rem;
}


/*============= PORTFOLIO SECTION =============*/

.jumbotron {
  border-radius:0;
  padding: 3rem 0 0;
  margin-bottom: 0;
}

h3.heading{
  font-size: 1.9rem;
  font-weight: bold;
  font-transform: uppercase;
  padding-bottom: 1.9rem;
}

.heading-underline{
  width: 3rem;
  height: .2rem;
  background-color: #c68e3b;
  margin: 0 auto 2rem
}

.portfolio img{
  max-width: 100%;
  transition: transform .5s ease;
}

.row.no-padding [class*=col-]{
  padding: 0;
}

.portfolio img:hover{
  transform: scale(1.1);
  cursor: zoom-in;
}

.portfolio{
  overflow: hidden;
}


/*============= RESERVA SECTION =============*/

.hrMargin{
  margin: .3rem 0;
}

/*============= PREÇOS SECTION =============*/

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}




/*============= CONTACT SECTION =============*/

footer {
  background-color: #26212d;
  color: white;
  padding: 2rem 0 3rem;
  margin-top: 1rem;
}

footer img {
  height: 3rem;
  margin: 1.5rem 0;
}

footer a {
  color: white;
}

footer .fab {
    font-size: 1.6rem;
    margin: 1.2rem .5rem 0 0;
}

footer .fab:hover {
  color: #c68e3b;
}

hr.socket {
  border-top: .2rem solid #c68e3b;
  width: 100%;
}

/*============= MEDIA QUERIES =============*/
@media (max-width: 767px) {
    .carousel-caption h1{
      font-size: 2.3rem;
      letter-spacing: .15rem;
      padding-bottom: .5rem;
    }

    .carousel-caption h3{
      font-size: 1.2rem;
      padding-bottom: 1.2rem;
    }

    .btn-lg {
      font-size: 1rem;
    }

    .narrow h1 {
      font-size: 1.5rem;
    }

    p.lead{
      font-size: 1rem;
    }
}
